body{
    background-color:var(--bg);
    color:var(--txt);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lexend', sans-serif;
    overflow-x: hidden;
}

/*Colors*/
/*#9d183d*/
/*#b1b7bb*/

/* Navigation */

.nav-bar ul {
    width:fit-content;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    float: right;
    margin-right: 1em;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}
.nav-bar a{
    color:var(--txt);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lexend', sans-serif;
    padding-right: 5px;
    padding-top: 0px;
}

.home-bar {
    background-color:var(--bg);
    width: 10px;
    height:5px;
    border-radius: 20px;
    position: relative;
}

.projects-bar {
    background-color:var(--bg);
    width: 5px;
    height:5px;
    padding-left: 5px;
    border-radius: 20px;
    position: relative;
}

.contacts-bar {
    background-color:var(--bg);
    width: 10px;
    height:5px;
    border-radius: 20px;
    position: relative;
}

.home-link:hover .home-bar{
    background-color: var(--hl);
    animation: home-bar-stretch;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
}

@keyframes home-bar-stretch{
    0%{
        width: 10px;
    }
    100%{
        width: 88px;
    }
}


.projects-link:hover .projects-bar{
    background-color: var(--hl);
    animation: projects-bar-stretch;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
}

@keyframes projects-bar-stretch{
    0%{
        width: 10px;
    }
    100%{
        width: 115px;
    }
}

.contacts-link:hover .contacts-bar{
    background-color: var(--hl);
    animation: contacts-bar-stretch;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
}

@keyframes contacts-bar-stretch{
    0%{
        width: 10px;
    }
    100%{
        width: 132px;
    }
}

.home-link:is .home-bar{
    background-color: var(--hl);
}

.projects-link:is .projects-bar{
    background-color: var(--hl);
    
}


.contacts-link:is .contacts-bar{
    background-color: var(--hl);
}

.socials{
    float: right;
    display: flexbox;
    width: fit-content;
    border-radius: 20px;
    position:fixed;
    bottom: 2%;
    right:2%;
    z-index: 1;
}

.socials a{
    box-shadow: 0px 2px 3px black;
}
.socials a:hover{
    animation-name: socialsHover;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}
 
 @keyframes socialsHover{
    100%{
     background-color: var(--hl);
    }
  
}

.introduction .welcome{
    color:var(--txt);
    font-family: 'Lexend', sans-serif;
    text-shadow: 0px 2px 5px black;
    font-size: 90px;
    position: absolute;
    right:55%;
    bottom: 45%;
    width:fit-content;
    z-index: 5;
}

.introduction {
    color:var(--txt);
    font-family: 'Lexend', sans-serif;
    text-shadow: 0px 2px 5px black;
    font-size: 40px;
    position: absolute;
    right:48%;
    bottom: 30%;
    width:fit-content;
    z-index: 5;
}

.logo{
    transform:scale(.6);
    position: absolute;
    bottom: -319px;
    right: -265px;
}


/* PALETTE DEFINITIONS */
@property --bg {
    syntax: "<color>";
    inherits: true;
    initial-value: #2e243f;
} 
@property --txt {
    syntax: "<color>";
    inherits: true;
    initial-value: #f5efeb;
} 
@property --hl {
    syntax: "<color>";
    inherits: true;
    initial-value: #d3473d;
} 
@property --hl2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #f6ad0f;
}
@property --ll {
    syntax: "<color>";
    inherits: true;
    initial-value: #316a96;
} 
@property --ll2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #86bcd1;
} 
